/*
=================================
Footer
=================================
*/

.main-footer{

background:#051f4a;

color:#fff;

.main-footer{

padding:45px 0 15px;

}

text-align:center;

}

.footer-logo{

display:block;

width:220px;

margin:0 auto 20px;

}

.footer-content h3{

font-size:24px;

margin-bottom:8px;

}

.footer-content p{

margin:0 auto 15px;

max-width:520px;

line-height:1.6;

font-size:15px;

}

.footer-social{

display:flex;

justify-content:center;

gap:15px;

margin-bottom:20px;

}

.footer-social a{

width:40px;

height:40px;

display:flex;

align-items:center;

justify-content:center;

background:rgba(255,255,255,.1);

border-radius:50%;

color:#fff;

transition:.3s;

}

.footer-social a:hover{

background:var(--primary-color);

transform:translateY(-4px);

}

.footer-links{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

margin-bottom:18px;

}

.footer-links a{

color:#fff;

opacity:.9;

font-weight:500;

transition:.3s;

}

.footer-links a:hover{

color:var(--primary-color);

}

.footer-policy{

display:flex;

justify-content:center;

align-items:center;

gap:15px;

margin-bottom:20px;

flex-wrap:wrap;

}

.footer-policy a{

color:#fff;

opacity:.8;

}

.footer-policy a:hover{

color:var(--primary-color);

}

.footer-bottom{

border-top:1px solid rgba(255,255,255,.1);

padding-top:15px;

font-size:14px;

opacity:.8;

display:flex;

justify-content:space-between;

flex-wrap:wrap;

gap:10px;

}