/*
=========================================
COOLLAD Header
=========================================
*/

/* Announcement Bar */

.announcement-bar {

    background: var(--secondary-color);
    color: var(--text-white);
    padding: 10px 0;
    font-size: var(--font-sm);

}

.announcement-bar p {

    margin: 0;
    text-align: center;
    color: var(--white);

}

/* Header */

.main-header {

    position: sticky;
    top: 0;

    width: 100%;

    background: var(--white);

    z-index: var(--z-header);

    box-shadow: var(--shadow-sm);

}

/* Layout */

.header-wrapper {

    display: flex;

    align-items: center;

    justify-content: space-between;

    min-height: 90px;

}

/* Logo */

.logo img {

    width: 180px;

}

/* Navigation */

.nav-menu {

    display: flex;

    gap: 34px;

}

.nav-menu a {

    position: relative;

    color: var(--text-dark);

    font-weight: var(--weight-medium);

    transition: var(--transition);

}

/* Hover */

.nav-menu a:hover {

    color: var(--primary-color);

}

/* Active */

.nav-menu a.active {

    color: var(--primary-color);

}

/* Underline Animation */

.nav-menu a::after {

    content: "";

    position: absolute;

    left: 0;

    bottom: -6px;

    width: 0;

    height: 2px;

    background: var(--primary-color);

    transition: var(--transition);

}

.nav-menu a:hover::after,
.nav-menu a.active::after {

    width: 100%;

}

/* Right */

.header-right {

    display: flex;

    align-items: center;

    gap: 18px;

}

/* Mobile Button */

.menu-toggle {

    display: none;

    align-items: center;

    justify-content: center;

    width: 46px;

    height: 46px;

    border: none;

    background: transparent;

    cursor: pointer;

    font-size: 28px;

    color: var(--secondary-color);

}

/* Desktop */

.navbar {

    display: block;

}

/* =========================================
Hamburger
========================================= */

.menu-toggle {

    display: none;

    width: 42px;

    height: 42px;

    border: none;

    background: transparent;

    cursor: pointer;

    flex-direction: column;

    justify-content: center;

    gap: 6px;

}

.menu-toggle span {

    width: 28px;

    height: 3px;

    background: var(--secondary-color);

    transition: .3s ease;

}

/* Active Animation */

.menu-toggle.active span:nth-child(1){

    transform: rotate(45deg) translate(6px,6px);

}

.menu-toggle.active span:nth-child(2){

    opacity:0;

}

.menu-toggle.active span:nth-child(3){

    transform: rotate(-45deg) translate(7px,-7px);

}